/* CSS Document */

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 950px;
	margin: 0px auto 0px auto;
}
#logo {
	width: 150px;
	margin-top: 5px;
	height: 30px;
	padding-left: 5px;
}
#header {
	height: 30px;
	width: 950px;
}

#header a { 
	text-decoration: none;
}
#navbar {
	float: right;
}
#banner {
	margin-top: 10px;
	width: 100%;
	height: 300px;
}

#content {
	background-color: white;
	font-size: 0.9em;
	min-height: 420px;
	padding-top: 20px;
	width: 950px;
}

#content p {
	padding: 5px;
	line-height: 1.2em;
	color: #3a3a3a;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#sidebar {
	float: right;
	width: 200px;
	padding: 10px;
	min-height: 400px;
	background-color: black;
	margin: 0px 10px 10px 10px;
	background-color: #d1d1d1;
	border-radius: 5px;
	height: 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#sidebar h2 {
	font-size: 1.2em;
	color: darkgreen;
}

#footer {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px dotted black;
	font-size: 0.8em;
	text-align: center;
	width: 950px;
}

/* start of navbar */
#navbar {
	margin-top: 5px;
	background-color: azure;
	width: 730px;
	font-size: 0.9em;
}
#navbar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#navbar ul li {
	float: left;
	position: relative;
}
#navbar ul li a {
	display: block;
	height: 30px;
	padding-left: 10px;
	width: 170px;
	background-color: #e3e3e3;
	color: #1a1a1a;
	text-decoration: none;
	line-height: 30px;
	text-align: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: white;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
}
#navbar ul li a:hover {
	background-color: skyblue;
}
#navbar ul li ul {
	position: absolute;
	visibility: hidden;
	top: 31px;
}
#navbar ul li:hover ul {
	visibility: visible;
}h1 {
	font-size: 24px;
	color: #8F8F8F;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.menuitem {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
