@charset "utf-8";
/* CSS Document */
#wrapper{
	width: 900px;
	margin-left:auto;
	margin-right:auto;
}
#header {
	height: 200px;
	width: 900px;
	background-color: #fff;
	text-decoration: none;
}
#menubar {
	width: 900px;
	background-color: #141126;
	font-size: 0.9em;
	margin: 0px;
	text-align:center;
	
}
#menubar ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#menubar ul li a {
	line-height: 30px;
	background-color: #157fc0;
	height: 30px;
	width: 150px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding-left: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #fff;
}
#menubar ul li a:hover {
	color: #FFF;
	background-color: #a1a1a1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #fff;
	border-right-color: #141126;
	border-bottom-color: #141126;
	border-left-color: #141126;
	border-top-style: solid;
}
#menubar ul li {
	float: left;
	position: relative;
}
#menubar ul li ul {
	position: absolute;
	visibility: hidden;
	top: 31px;
}
#menubar ul li:hover ul {
	visibility: visible;
}
#content {
	width: 840px;
	float: right;
	height: auto;
	padding-right: 0px;
	padding-left: 10px;
	margin: 25px;
	color: #FFF;
}
#sidebar {
	width: 250px;
	float: right;
	height: auto;
	text-align: center;
	margin: 25px;
}
#wrapper #sidebar p {
	color: #FFF;
}
#footer {
}
